/* Types of CSS Selectors
HTML tags/elements */

/* 1. Element Selector */
/* p {
  font-size: 100px;
} */

/* 2. Class Selector */
/* .wrapper {
  height: 20%;
} */

/* 3. ID Selector */
/* #lovely-border {
  border: 10px;
  border-style: dotted;
  border-color: orange;
  height: 100%;
  width: 100%;
  position: absolute;
} */

/* FLOATS */
/* p {
  float: left;
} */

/* CLEAR */
/* #button {
  clear: both;
} */

/* ORDER OF IMPORTANCE */
/* div p {
  font-size: 100px;
} */

/* .wrapper p {
  font-size: 100px;
} */

/* .wrapper #button {
  padding-left: 50px;
} */

/* GRID CONTAINER */

/* #seagull-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 10px;
}

#seagull-container {
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 20% 20% 20% 20% 20%;
grid-gap: 10px;
}

#seagull-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 10px;
} */



#lovely-border {
  border: 10px;
  border-style: solid;
  height: 100%;
  width: 100%;
  position: absolute;
}

#beach-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  height: 25%;
  border: 5px dotted black;
}

.flex-photo {
  height: 100%;
  width: 100%;
}

#seagull-container {
  display: flex;
  flex-direction: row;
}

.seagull {
  height: 100%;
  width: 33.33333%;
}
